


#nav{
    display:inline-block;
    list-style-type: none;
}
#nav>li{
    display:inline-block;

}
#nav li {
    position: relative;
}
img{
    border-radius:50%;
    width:40px;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.bar{
    width: 100%;
    top:0px;
    background-color:yellow;
    height: 40px;
    COLOR: black;
    position:fixed;
}
#html{
    font-family:'Helvetica Neue';
}
